
.logInPopUp    {
    background-color: white;
    width:600px;
    opacity:0.9;
    z-index: 201;
    position: fixed;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: #517feb 5px;
    border: 1px solid lightslategray;
    margin-left:auto;
    right:auto;
    text-align:center;
    padding-bottom:40px;
}

.closePopUp {
    background-image: url("../image/closePopUp.png");
    background-size: 100% auto;
    position: absolute;
    width: 45px;
    height: 45px;
    top:0;
    right:0;
    z-index: 203;
    cursor: pointer;
}

.logInPopUp .row{
    margin-bottom: 20px;
}

#googleLogin button  {
    border: none;
    border-radius: 2px;
    width: 160px;
    height: 40px;
    background-color:#4885ed;
    padding: 0;
    margin-bottom: 80px;
    cursor: pointer;
}
#googleLogin button div{
    /*width:160px;*/
}


