#formularz{
    position:relative;
    padding-top:50px;
    height:300px;
    width:100%;
    background-color:#f4f4f4;
    text-align:center;

}
main input {
    margin-top:10px;
    width:300px;
    height:30px;
    border:2px solid #bdc7d8;
    border-radius:5px;
    font-size:20px;
    padding-left:10px;
}

main input:focus {
    width:300px;
    height:30px;
    border:2px solid #71706B;
    border-radius:5px;
    box-shadow: 0px 0px 10px 1px #71706B;
}
main input[type="submit"] {
    width:80px;
    height:35px;
    border:2px solid #bdc7d8;
    border-radius:5px;
    font-size:13px;
}
main input[type="submit"]:focus {
    width:80px;
    height:35px;
    border:2px solid #bdc7d8;
    border-radius:5px;
    font-size:13px;

}
form {
    margin:0 auto;
}
form ul{
   list-style:none;
}
form li{
    color:#71706B;
    font-size:20px;
    font-weight:bolder;
}
#Kod_Komunikat_numer{
	height: 20px;
	color: #C55252;
}
#Kod_Komunikat_mail{
    height:20px;
    color:#C55252;
}
/*** FUNKCJE BY EMKA ***/
#functions_summary  {
    width: 100%;
    background-color: #f4f4f4;
    text-align: center;
    font-size: 50px;
    padding-top:50px;
    padding-bottom: 50px;
}
#functions_summary h1  {
    margin: auto;
    font-weight:100;
}

#functions  {
    position:relative;
    height:1200px;
    background-color: #e7e7e7;
    padding:3%;
    color: #454545;
    }

#functions div  {
    width:44%;
    height:600px;
    text-align: center;
    padding-left:3%;
    padding-right:3%;
    }

.leftside   {
    float: left;
}

.rightside  {
    float: right;
}

#functions div img  {
    width: 100%;
    max-height: 360px;
    border-radius: 2%;
    box-shadow:3px 0px 30px 1px #898989;
}

#functions div p    {
    font-size: 20px;
    text-align: center;
    width:100%;
}

#functions div:hover   {
        color: black;
}
#functions div h2   {
    font-weight: 400;
}


/*** END OF FUNKCJE BY EMKA***/


/************* LIST OF CONTENT *******************/

/*

1. HEADER
2. NAV MENU
3. CLASS OF HEADER WHEN SCROLLING
4. HERO

*/

body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* 1. HEADER */

header {
    font-size: 15px;
    line-height: 40px;
    height: 60px;
    width: 100%;
    margin: 0;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    transition: height 0.5s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0.90;

}

#quick_contact {
    position: absolute;
    top: 10px;
    left:50px;
    float: left;
    width: 300px;
    color: #000000;
    font-size: 15px;
    padding: 0;
}

/* 2. MENU */

header ul {
    position: absolute;
    top: 10px;
    right:10px;
    text-align: center;
    list-style: none;
    float: right;
    margin: 0 50px 0 0;
    padding: 0;

}


header ul li {
    display: inline-block;
    padding: 0 10px 0 10px;
    color: #ffffff;
}

li a {
    text-decoration: none;
    color: #343434;
    font-family: 'Roboto';
}

li a:hover {
    border-bottom: 2px solid #343434;
}

.menu-item-selected {
    border-bottom: 2px solid #343434;
}





/* 3. CLASS OF HEADER WHEN SCROLLING */

.active {
    color: #000000;
    background-color: #ffffff;
    font-size: 13px;
}

.small {
    height: 50px;

}

.active-a {
    color: rgba(0, 0, 0, 0.71);
}
/* 4. ZAJAWKA */

#hero {
    width: 100%;
    position: relative;
    height: 700px;
    overflow: hidden;
    text-align: center;
}

.parallax-window {
    min-height: 900px;
    background: transparent;
}

#hero_picture {
    width: 100%;
    margin: auto;
    z-index: -999;
}

#zajawka-big-sub {
    color: inherit;
    font-family: 'Roboto';
    font-weight: 400;
}


#zajawka-small-sub {
    font-weight: 100;
    color: inherit;
    font-family: 'Roboto';
    line-height: 130%;
}

#zajawka {
    margin-top: 350px;
    color: #ffffff;
    z-index: 100;
    text-align: center;
    font-size: 2.5em;
    display: inline-block
}

/***** END OF NAV / MENU / ZAJAWKA *****/

/** FOOTER START **/
footer {
	background-image: linear-gradient(#2c4f85, #000000);
	color: #ffffff;
	text-align: center;
	clear: both;
	text-shadow: 1px 1px rgb(0, 0, 0);
	font-weight: lighter;
}
.logo_bottom {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
}
.logo_bottom:hover {
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
.social_btu {
    margin: 5px 15px 0 15px;
}
.social_btu:hover {
	background: rgb(0, 0, 0);
	border-radius: 16px;
}
footer input {
    border: solid 1px rgba(255, 255, 255, 0.31);
    background: rgba(255, 255, 255, 0.17);
    color: white;
    padding: 5px;
    text-shadow: 1px 1px rgb(0, 0, 0);
}
.soc_me_btu {
    margin-bottom: 25px;
    background: rgba(0, 0, 0, 0.11);
    padding: 10px;
	border-bottom: 2px solid rgb(38, 69, 117);
}
.foot_cop {
    margin-top: 20px;
    background: #131313;
    font-size: 12px;
    color: white;
    text-shadow: none;
    padding: 5px;
}
.foot_list {
    height: 130px;
    float: left;
    width: 32%;
    border-right: 2px solid rgba(255, 255, 255, 0.1);
    padding-right: 10px;
}
.tekstR {
    text-align: right;
}
.tekstL {
    text-align: left;
    border-right: 0px;
    padding-left: 15px;
}
.clear {
    clear: both;
}
footer li a {
    color: #ffffff;
}
footer li a:hover {
    color: #ffc93e;
}
/** FOOTER END **/

.hide{
    opacity:0
}

.show {
    opacity: 1;
}
